services:
  - type: web
    name: wrong-turn-6
    env: node
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: PORT
        value: 3000
      - key: NODE_ENV
        value: production
